body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff; /* AliceBlue */
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #4a4a4a;
    margin-bottom: 20px;
}

#instructions {
    margin-top: 20px;
    color: #5f5f5f;
    font-size: 0.9rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    background-color: #b0e0e6; /* PowderBlue */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: #f7f7f7;
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #ff6b6b; /* Pastel Red */
    border-radius: 5px;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 10px solid #48dbfb; /* Pastel Blue */
    border-radius: 50%;
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 3rem;
}

.winning-message.show {
    display: flex;
}

#restartButton {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #48dbfb;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

#restartButton:hover {
    background-color: #00bfff;
}